.card {
    position: relative;
    background: $gradient-1;
    border-radius: 13px;

    &__img {
        position: absolute;
        aspect-ratio: 288/347;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: 13px;
        overflow: hidden;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        padding: 77px 21px 21px 21px;
    }


}
